include CHANGES.md
include LICENSE
include LICENSE-GPL-3.0
include README.md
include pyproject.toml
include requirements.txt
include setup.py
recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.json *.py *.yaml
